/*fonts*/
@font-face {
	font-family: Bebas Neue;
	src: url(fonts/BebasNeue.otf);
}

@font-face {
	font-family: Petita Bold;
	src: url(fonts/PetitaBold.ttf);
}

@font-face {
	font-family: Petita Medium;
	src: url(fonts/PetitaMedium.ttf);
}

@font-face {
	font-family: Petita Light;
	src: url(fonts/PetitaLight.ttf);
}

/*general stuff*/
body {
	font-family: 'Petita Medium';
	font-size: 18px;
	color: white;
	background-color: black;
}

h1 {
	font-family: 'Bebas Neue';
	font-weight: lighter;
	font-size: 50px;
	text-align: center;
	margin-bottom: 0px;
}

.header {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

/*navigation bar*/
.nav {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	transition: background-color 0.1s;
}

.nav ul {
	list-style-type: none;
	padding: 0px;
}

.nav li {
	float: left;
	border: 1px solid gray;
	border-radius: 3px;
	margin: 5px;
	width: 23%;
	text-align: center;
}

.nav a {
	color: white;
	text-decoration: none;
	display: block;
}

.nav a:hover {
	background-color: #02324E;
}

/*mini navigation bar*/
.mininav {
	color: #333333;
	text-align: center;
	margin-bottom: 20px;
	transition: color 0.1s;
}

.mininav:hover {
	color: #888888;
}

.mininav a {
	color: inherit;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}

.mininav a:hover {
	color: #FFFFFF;
}

/*main content*/
.main-content {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.section {
	background-color: #02324E;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	overflow: auto;
}

.infobox {
	background-color: #046299;
	margin: 20px;
	padding: 10px;
	border-radius: 5px;
	overflow: auto;
}

/*arranging images*/
.left-image img {
	float: left;
	width: 20%;
	margin-right: 10px;
}

.left-image-separator {
	clear: left;
	padding: 10px;
}

.big-image {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}